---
layout: default
---
{{ content }}

{% assign clouds = site.clouds %}

<div class="notes">
    <h2 class="content-subhead">Recent Cloud Entries</h2>

    {%- if clouds.size > 0 -%}
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

        {%- for cloud in clouds -%}
            <section class="post">
                <header class="note-header">
                    <h2 class="post-title">
                        <a href="{{ cloud.url | relative_url }}">
                            {{ cloud.title | escape }}
                        </a>
                    </h2>

                    <p class="post-meta">
                        Tagged:
                        <span>
                            {% for tag in cloud.tags %}
                                <a href="/tags/#{{ tag }}">#{{ tag }}</a>
                            {% endfor %}
                        </span>
                    </p>
                </header>

                <div class="post-description">
                    <p>
                        <em>{{ cloud.content | strip_html | escape | truncate: 300}}</em>
                    </p>
                </div>
            </section>
        {%- endfor -%}
    </div>


    <br/>

{%- endif -%}